/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 46px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-2 {
    width: calc(100% / 2);
}

.col-3 {
    width: calc(100% / 3);
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center!important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right!important;
}

#main {

}

#header {
    height: var(--height-header);
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li:hover > a,
#nav .subnav li:hover a  {
    background-color: #ccc;
    color: #000;
}

#nav > li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: var(--height-header);
    padding: 0 24px;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    line-height: var(--height-header);
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
}

/* Slider block */
#slider {
    margin-top: var(--height-header);
    padding-top: 50%;
    background: url(../img/slider.jpg) top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

/* Content block */
/* About section */
#content {
}

#content .content-section {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0 112px;
}

#content .content-section .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .content-section .section-heading,
#content .content-section .section-sub-heading {
    text-align: center;
}

#content .content-section .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-image {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background: #000;
}

.text-white {
    color: #fff;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    margin-left: 16px;
    padding: 3px 4px;
    color: #fff;
    background-color: #f44336;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: -3px;
}

/* Places */
.places-list {
    margin-top: 32px;
}

.places-list .place-image {
    width: 100%;
    display: block;
}

.places-list .place-image:hover {
    opacity: 0.6;
}

.places-list .place-body {
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}

.places-list .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.places-list .place-time {
    margin-top: 15px;
    color: #7f7f7f
}

.places-list .place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}